/* CSS Document */ 
body{
	font-size: 15px !important;
}
/*@font-face {*/
  	/*font-family: 'HelveticaNeueLTPro-Th';*/
 	/*src: url('../../font/HelveticaNeueLTPro-Th.otf');*/
/*} */

p,h1,h2,h3,h4,h5{
	letter-spacing:1px !important;
	word-wrap:break-word;
}
h3{
	font-size: 24px;
}
/* CSS Document */ 

.purea{
	margin-top: 200px;
}
.purea .left{
	float: left;
	width: 527px;
	margin-right:73px;
}
.purea .left p{
	padding-top: 30px;
	padding-bottom: 30px;
}
.purea .right p{
	padding-top: 30px;
	padding-bottom: 30px;
}
.purea .right{
	float: left;
	width: 520px;
	margin-left:80px;
}
.efefhr{
	height: 20px;
	width: 100%;
	border-bottom:1px solid #efefef;
}
.dashhr{
	height: 20px;
	width: 100%;
	border-bottom:1px dashed #626262;
}
.pcenter{
	text-align: center;
	margin-top: 5%;
}
.pleft{
	text-align: left;
	margin-top: 5%;
}
.piece{
	width:1200px;
	margin:0 auto;
	color: #333333;
	padding-top: 7%;
	padding-bottom: 30px;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}.piece .ptop {
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #626262;
	padding-bottom:15px;
}
.piece .ptitle {
	font-size: 48px;
	color:#333333;
	padding-bottom:20%;
}
.piece .toptitle{
	margin-bottom:10%;
}
.piece h2 {
	color: #333333;
	line-height: 1.7em;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

.piece .ptop img {
	float: right;
	width: 200px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.piece h3  {
	font-weight: normal;
	line-height: 35px;
	margin: 0px;
	padding: 0px;
	font-size: 1.5em;
}
.piece h4  {
	line-height: 35px;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 15px;
	padding-top: 10px;
}
.piece h1  {
	color: #333333;
}

.piece .pmid h3 {
	font-weight: normal;
	color: #333333;
	line-height: 1.5em;
	margin-top: 35px;
	margin-bottom: 35px;
	float: left;
	width: 100%;
	font-size: 1.5em;
	text-align: left;
}

.piece .pmid p {
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	text-align: left;
}
.piece .pmid {
	text-align: center;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	padding-top: 40px;
}
.piece .pmid img {
	width: 100%;
}

.piece .pmid a {
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
	color: #4f88c3;
	border: 1px solid #c9c9c9;
	padding-top: 8px;
	padding-right: 30px;
	padding-bottom: 8px;
	padding-left: 30px;
	width: auto;
	display: inline-block;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 0.9em;
}
.piece .pmid a:hover{
	background-color: #FFF;
	border: 1px solid #000;
	color: #00F;
}
.piece .pmid .pbot, .piece .pmid .pbott{
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
	padding-top: 2%;
	padding-right: 0px;
	padding-bottom: 2%;
	padding-left: 0px;
}
.piece .pmid .pbot h2 {
	font-size: 1.7em;
	margin-bottom: 8%;
}
.piece .pmid .pbot .pbotl h3 {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5%;
	padding-left: 0px;
}


.piece .pmid .pbot .pbotl {
	float: left;
	width: 50%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3%;
	padding-left: 0px;
}
.alignleft{
	text-align: left;
}

td {
	display:table-cell; 
	vertical-align:middle!important;
}
.table{
	text-align: left;
	padding-left: 10%;
	letter-spacing: 1px;
}
.table > thead > tr > th {
    vertical-align: middle!important;
    border-bottom: 2px solid #ddd;
}
.piece .pmid .pbot .pbotr {
	float: left;
	width: 55%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: -5%;
	padding-top: 2%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.piece .pmid .pbot .pbotr p{
	float: left;
	width: 90%;
	margin-right: 10%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.piece .pmid .pbott .pbotl h3 {
	margin: 0px;
	padding-bottom: 5%;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.piece .pmid .pbott .pbotr {
	float: left;
	width: 55%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -5%;
	padding-top: 3%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.piece .pmid .pbott .pbotl {
	float: left;
	width: 50%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3%;
	padding-left: 0px;
}
.piece .pmid .pbott .pbotl p {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}




/*.----------è‡ªé€‚åº”--------------{}*/
@media (max-width: 768px) {
  /*手机端*/
  #ksjsphone p{
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap:break-word;
  }
  #ksjsphone{
    letter-spacing: 1px;
  }
  #ksjsphone h1{
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    margin-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
  #ksjsphone .h1left{
    font-size: 22px;
    text-align: left;
    line-height: 30px;
    margin-left: 25px;
  }
  #ksjsphone h2{
    font-size: 18px;
    text-align: center;
  }
  #ksjsphone h3{
    font-size: 16px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  #ksjsphone .h2left{
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    margin-left: 25px;
  }
  #ksjsphone .pcenter{
    font-size: 12px;
    text-align: center;
  }
  #ksjsphone .pleft{
    font-size: 12px;
    text-align: left;
  }
  #ksjsphone .martb{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  #ksjsphone .newsleft{
    margin-left:25px;
    width: 140px;
    float: left;
  }
  #ksjsphone .newsright{
    margin-right:25px;
    float: right;
  }

  #ksjsphone a{
    color: #000000;
    display:table; 
    border: 1px solid #000;
    text-decoration: none;
    margin:0 auto;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 12px;
  }
  #ksjsphone a:hover{
    color: #fff;
    background-color: #000;
  }
  #ksjsphone .hrphone{
    border-top: 1px solid #efefef;
    height: 20px;
    margin:0 15px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  #ksjsphone .hrt{
    border-bottom: 1px solid #efefef;
    margin:0 15px;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  #ksjsphone .hrb{
    border-bottom: 1px solid #efefef;
    margin:0 15px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

}
@media screen and (max-width: 1069px){
	.piece{	
		width: 80%; 	
		margin-right: 10%;	
		margin-left: 10%;
		}
}
@media screen and (max-width: 965px){
	.piece{	
		width: 90%; 	
		margin-right: 5%;	
		margin-left: 5%;
	}
}
@media screen and (max-width: 667px){
	.piece{	
		width: 90%; 	
		margin-right: 5%;	
		margin-left: 5%;
	}

	.piece .pmid .pbot , .piece .pmid .pbott{
		float: left;
		width: 100%;
	}

	.piece .ptop img {
		visibility: hidden;
		width: 0px;
	}
	.piece .ptop h3 {
		font-size: 1em;
	}

	.piece .pmid .pbot .pbotl {
		float: left;
		width: 100%;
		border-top-style: none;
		border-right-style: none;		
		border-bottom-style: none;
		border-left-style: none;
	}
	.piece .pmid .pbot .pbotr {
		float: left;
		width: 80%;
		padding-right: 10%;
		padding-left: 10%;
		padding-bottom: 5%;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #CCC;
		margin: 0px;
	}
	.piece .pmid .pbott .pbotr {
		margin: 0px;
		float: left;
		width: 100%;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.piece .pmid .pbott .pbotl {
		margin: 0px;
		padding: 0px;
		float: left;
		width: 100%;
	}
	.piece .pmid .pbott .pbotr {
		float: left;
		width: 80%;
		padding-right: 10%;
		padding-left: 10%;
	}
	.piece.dtime img{
		transform:scale(1.6); 
	    -webkit-transform:scale(1.6);    
	    -moz-transform:scale(1.6);    
	    -o-transform:scale(1.6);    
	    -ms-transform:scale(1.6);
	    margin-top: 8%;	  
	    margin-bottom: 8%;	
	}
	.piece #x3 ~ div.pmid img{
		transform:scale(1.7); 
	    -webkit-transform:scale(1.7);    
	    -moz-transform:scale(1.7);    
	    -o-transform:scale(1.7);    
	    -ms-transform:scale(1.7);
	     margin-top: 15%;	  
	     margin-bottom: 15%;	
	     padding-left: 16%;
	     width: 84%;
	}
	body{
    font-size:13px;
  }
}
img {
	max-width: 1200px;
}

.hr{
	width: 100%;
	border-top:1px solid #ddd;
	height: 50px;
	margin-top: 60px;
}
.margin1{
	height: 50px;
}
.margin2{
	height: 200px;
}
.marbottom{
	margin-bottom:4%;
}
.clear{
	clear:both;
}