<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <title>淘宝云硕科技测试站点</title>
    <meta name="keywords" content="云硕科技" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="https://w7.yunshuokeji.com/attachment/images/global/WnZ33K1I3xn11gnX3P5nXN3n1G3pA3.png" />
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" th:href="@{/ceshi/style.css}">
    <link rel="stylesheet" type="text/css" href="../addons/mogucms_guanwang/template/loginstyle2/css/style.css" tppabs="../addons/mogucms_guanwang/template/loginstyle2/css/style.css" />
    <style>
        body{height:100%;background:#166fa0;overflow:hidden;}
        canvas{z-index:-1;position:absolute;}
    </style>
<script th:src="@{/ceshi/jquery.js}"></script>
    <script src="../addons/mogucms_guanwang/template/loginstyle2/js/jquery.js"></script>
    <script th:src="@{/ceshi/Particleground.js}"></script>
    <script src="../addons/mogucms_guanwang/template/loginstyle2/js/Particleground.js" tppabs="../addons/mogucms_guanwang/template/loginstyle2/js/Particleground.js"></script>
    <script>
        $(document).ready(function() {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#5c9bbd',
                lineColor: '#5c9bbd'
            });

            //测试提交，对接程序删除即可
            $(".submit_btn").click(function(){
                //location.href="javascrpt:;"
            });
        });
    </script>
</head>
<body>
<form method="post"  id="form1" class="we7-form">
    <dl class="admin_login">
        <dt>
            <strong>站点后台管理系统</strong>
            <em>Management System</em>
        </dt>
        <dd class="user_icon">
            <input type="text" name="username" id="username"  placeholder="账号" class="login_txtbx"/>
        </dd>
        <dd class="pwd_icon">
            <input name="password" id="password" type="password" placeholder="密码" class="login_txtbx"/>
        </dd>
        <dd class="val_icon">
            <input type="checkbox" class="checkbox" id="rember" name="rember" value="true">记住用户名
            <a href="/web/index.php?c=user&a=find-password">忘记密码？</a>
        </dd>
        <dd>
            <input name="token" value="c26e1489" type="hidden" />
            <input name="login_type" id="login_type" type="hidden" class="form-control " value="system">
            <input type="button" value="立即登陆" class="submit_btn" onclick="return formcheck();" />
        </dd>
        <dd><a class="regbtn" href="/web/index.php?c=account&a=welcome&do=register">立即注册</a></dd>
    </dl>
</form>
</div>
<div class="container-fluid footer text-center" role="footer">
    <div class="friend-link">
        人人商城|禾匠小程序商城|柚子社区团购|狮子鱼社区团购|志汇外卖|志汇外卖同城|码上点餐|微擎框架					</div>
    <div class="copyright">以上模块<a href="https://yscms.taobao.com">云硕科技均可提供点击跳转淘宝店</a></div>
</div>
</div>

<script type="text/javascript" src="https://w7.yunshuokeji.com/web/index.php?c=utility&a=visit&do=showjs&type=system"></script>

</body>
</html><script>
    document.onkeydown = function(e){
        if(e.keyCode === 13){
            formcheck();
        }
    }
    function formcheck(){
        var username = $("#username").val();
        var str = /^[1][3,4,5,7,8][0-9]{9}$///手机
        if(username == ''){
            alert("请输入帐号")
            return false
        }
        /*if(str.test(username)){
         $("#login_type").val("mobile");
         }else{
         $("#login_type").val("system");
         }*/
        $.ajax({
            url:"/web/index.php?c=user&a=login",
            type:"POST",
            dataType:'json',
            data:$('#form1').serialize(),
            success: function(data){
                var url = data.redirect;
                if(url){
                    if(url.indexOf("user") != -1){
                        alert(data.message);
                        $("#imgcode").attr("src","/web/index.php?c=utility&a=code&" + Math.random());
                    }else{
                        url = url.replace(".","");
                        window.location.href="/web"+url;
                    }
                }else{
                    alert(data.message);
                }
            }
        });
        return false;
    }
</script>
</body>
</html>
